<section class="account">
  <h1>Create account</h1>
  {% form 'create_customer' %}
    {% if form.errors %}{{ form.errors | default_errors }}{% endif %}
    <div class="field">
      <label for="RegisterEmail">Email</label>
      <input id="RegisterEmail" type="email" name="customer[email]" autocomplete="email">
    </div>
    <div class="field">
      <label for="RegisterPassword">Password</label>
      <input id="RegisterPassword" type="password" name="customer[password]" autocomplete="new-password">
    </div>
    <button type="submit" class="btn">Create</button>
  {% endform %}
</section>
