<section class="account">
  <h1>Reset password</h1>
  {% form 'reset_customer_password' %}
    {% if form.errors %}{{ form.errors | default_errors }}{% endif %}
    <div class="field">
      <label for="ResetPassword">Password</label>
      <input id="ResetPassword" type="password" name="customer[password]">
    </div>
    <div class="field">
      <label for="PasswordConfirmation">Confirm</label>
      <input id="PasswordConfirmation" type="password" name="customer[password_confirmation]">
    </div>
    <button type="submit" class="btn">Reset</button>
  {% endform %}
</section>
