<section class="password">
  <h1>{{ shop.name }}</h1>
  {% form 'storefront_password' %}
    <div class="field">
      <label for="Password">Enter store password</label>
      <input id="Password" name="password" type="password" autocomplete="off">
    </div>
    <button type="submit" class="btn">Enter</button>
  {% endform %}
</section>
